@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}


.danger{
  background-color: red;
  color : white;
}
header{
  position: sticky;
  top: 0;
}
nav{
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001f2b;
  padding: 11px 7%;
  transition: all .50s ease;
  /* height: 12%; */
}
nav h2{
  font-size: 2rem;
}

.logo{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.logo span{
  font-size: 2.4rem;
  font-weight: 600;
  color: red;
}

.navbar{
  list-style: none;
  display: flex;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all .5s ease;
}
.navbar a:hover{
  color: #FFC300;
}

.main button{
  font-size: 1rem;
}
.nav-btn{
  font-size: 18px;
  cursor:pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1024px){
  header .nav-btn{
    display: block;
  }

  nav .navbar{
    position:absolute;
    top:100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  header .responsive_nav{
    right: 2%;
    background-color: black;
  }


  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .05 ease;
  }


}

button{
  display: flex;
  align-items: center;
  background-color: 	#001f2b;
  padding: 0.3rem 0.7rem;
  color: 	#FFFFF0;
  cursor: pointer;
  border-radius: 1rem;
}


/* singlecard */
.single-card-link{
  text-decoration: none;
}

.box{
  background-color: #001f2b;
  color: #FF69B4;
  height: 10rem;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  padding: 20px;
  border-radius: 30%;
  
}

.box:hover{
  background-color: #FFC300;
  color: black;
}
.box p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.4rem;
}
Link{
  text-decoration: none;
}

/* cards */
.cards{
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


/* single product */
.product_card{
 margin: 1.5rem;
 background-color: rgb(240, 240, 240);
}
.product_img img{
 display: block;
 width: 100%;
 aspect-ratio: 12/13;
}

.product_footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  gap:10px;
  color: white;
}
.product_title{
  margin-top: 8px;
  font-weight: bold;
}
.product_rating{
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.filled_star{
  font-size: 20px;
  color: #FFC300;
}
.product_footer button{
  padding: 0.3rem 0.7rem;
}

/* All products */
.all_products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 0.2rem;
}
/* Product_page */
.product_page{
  display: flex;
}
.product_filters{
  width: 100%;
  height: 100%;
}
.product_items{
  width: 100%;
}
/* Cart */

table{
  width: 100%;
  margin: 2rem auto;
  padding: 0 8rem;
  font-size: 1rem;
}

tbody tr td{
  text-align: center;
}

table img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 1rem;
}


.cart__body{
  font-size: 1rem;
}
.empty__cart{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 5rem;
}

/* Home */
.banner__card{
  position: relative;
}

.banner__text{
  width: 50%;
  position: absolute;
  top: 25%;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.banner__text h2{
  margin-bottom: 2rem;
}
.banner__img{
  width: 100%;
  height: 100vh;
}

.banner__card button{
  margin-top: 2rem;
  padding: 0.7rem;
}
.banner__card button:hover{
  background-color: rgb(0, 4, 112);
  color: white;
  font-weight: bolder;
}

.homepage__buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homepage__buttons a{
  text-decoration: none;
  color: white;
}

/* cart */


/* product details  */

.details_main{
  margin-top: 10rem;
}
.single_image{
  width: 50%;
  margin: 0 auto;
}

.single_image img{
  width: 100%;
}

.top_bottom{
  padding: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.top h1{
  padding-bottom: 0.5rem;
}
.top h2{
  padding-bottom: 0.7rem;
}
.top ul{
  padding-bottom: 0.5rem;
}
.top ul li{
  padding-bottom: 0.3rem;
}
.size ul{
  margin: 1rem 0;
  padding: 0.2rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
}

.bottom{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.like{
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: magenta;
}

@media(min-width:900px){
  .details_main{
    display: flex;
    margin-top: 6rem;
  }
  .size ul{
    display: flex;
    gap: 1.5rem;
    width: 50%;
  }
  
  .size ul li{
    cursor: pointer;
    padding: 10px;
    
  }
  .size ul li:hover{
    border-radius: 50%;
    background-color: #be0964;
    color: white;
  }
  
  .top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 65vh;
    padding-left: 3rem;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  .top h2{
    padding-bottom: 20px;
  }
  .top_bottom{
    width: 100%;
  }
  .product_detail_left{
    width: 50%;
  }
  .single_image img{
    height: 75vh;
    width: 100%;
  }
  
  .bottom{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 20%;
    margin-left: 60px;
    padding-top: 20px;
  }

  .product_detail_rating{
    margin-bottom: 2rem;
  }

  .bottom{
    padding-top: 50px;
    flex-direction: row;
  }
}

/* wishlist */

.wishlist_item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}
.wishlist_image_wrapper img{
  /* max-width: 100px;
  max-height: 100px;
  margin: 0.5rem; */
  width: 100%;
  height: 100%;
}
.wishlist_image_wrapper{
  width: 100px;
  height: 100px;
}
.wishlist_item_details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.wishlist_price_rating{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.wishlist_rating{
  display: flex;
  align-items: center;
}
.wishlist_buttons{
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
.wishlist_buttons .add{
  color: rgb(31, 190, 31);
  cursor: pointer;

}
.wishlist_buttons .del{
  color: red;
  cursor: pointer;
}